<%= simple_form_for(@iteration, html: { class: 'form-horizontal'}, wrapper: :horizontal_form ) do |f| %>
  <%= f.hidden_field :program_id %>
  <%= render partial: 'shared/form/error_messages', locals: { resource: @iteration } %>
  
	<%= f.input :name %>  
	<%= f.input :from, as: :string, input_html: { class: 'datepicker' } %> 
	<%= f.input :to, as: :string, input_html: { class: 'datepicker' } %>
  
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>
